@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: #0f172a;
  --color-primary: #1e3a8a;
  --color-accent: #10b981;
  --color-border: #e2e8f0;
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@layer base {
  .dark {
    --color-background: #020617; /* slate-950 */
    --color-foreground: #f8fafc; /* slate-50 */
  }
}
